<div class="register">
<h1>REGISTER</h1>
<form action="#" method="get">
  <div class="container">
    <label>Fullname</label><br/>
    <input type="text" name="Fullname" placeholder="Fullname.."/><br/>
    <label>Email</label><br/>
    <input type="email" name="Email" placeholder="Email.."/><br/>
    <label>Password</label><br/>
    <input type="password" name="pwd" placeholder="Password"/><br/>
  </div>
  <div class="icon">
    <img src="assets/images/icon-facebook.png" width="20px" height="20px"/>
    <img src="assets/images/tải%20xuống.png" width="20px" height="20px"/>
    <img src="assets/images/tải%20xuống%20(1).png" width="20px" height="20px"/>
  </div>
  <div class="ps">
    <p>REGISTER</p>
    <p>Already member? <b>Login here</b></p>
  </div>
</form>
</div>
