<div class="background">
<div class="login">
<h1>LOGIN</h1>
<form action="#" method="get">
  <div class="entry">
    <label>Email</label><br/>
    <input type="email" name="Email" placeholder="Email.."/><br/>
    <label>Password</label><br/>
    <input type="password" name="pwd" placeholder="Password.."/><br/>
  </div>
  <p>Forgot password</p>
  <div class="icon">
    <img src="assets/images/icon-facebook.png" width="20px" height="20px"/>
    <img src="assets/images/tải%20xuống%20(1).png" width="20px" height="20px"/>
    <img src="assets/images/tải%20xuống.png" width="20px" height="20px"/>
  </div>
  <div class="ps">
    <p> LOGIN</p>
    <p>New here?<b routerLink="/demoregister">Register</b></p>
  </div>
</form>
</div>
</div>


